# Données propres ?

In [1]:
import pandas as pd
import os
import numpy as np

J'ai vérifié précédemment que les valeurs vides, dans les trois tables, sont des Nan et pas des espaces divers.

### Table 1 : caract-2024

In [2]:
df = pd.read_csv('https://static.data.gouv.fr/resources/bases-de-donnees-annuelles-des-accidents-corporels-de-la-circulation-routiere-annees-de-2005-a-2024/20251021-115900/caract-2024.csv', encoding="utf-8", sep=';', engine='python')

In [3]:
nb = df.isna().any(axis=1).sum()
print(nb)

2310

In [4]:
nb = df.drop(columns=['adr']).isna().any(axis=1).sum()
print(nb)

0

Ce sont les colonnes 'adr' qui sont vides -> ça n'est pas grave pour ce qu'on veut faire (on ne va pas utiliser l'adresse précise dans notre analyse). On peut garder toutes les lignes du dataset.

In [5]:
df.head()

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,D438,"47,56277000","6,75832000"
1,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,HOTEL DIEU (RUE DE L'),"47,02109000","4,83755000"
2,202400000003,22,3,2024,19:30,2,15,15012,1,1,1,6,Allée des Tilleuls,"44,90238400","2,49641800"
3,202400000004,24,3,2024,17:50,1,14,14118,2,3,7,3,128 Rue d'Authie,"49,19166000","-0,39851000"
4,202400000005,25,3,2024,19:35,5,13,13106,1,3,2,5,BEDOULE (CHEMIN DE LA),"43,39000000","5,35000000"

### Table 2 : immatriculés_2024

In [6]:
df = pd.read_csv('https://static.data.gouv.fr/resources/bases-de-donnees-annuelles-des-accidents-corporels-de-la-circulation-routiere-annees-de-2005-a-2024/20251107-100210/2024.csv', encoding="utf-8", sep=';', engine='python')

In [7]:
nb = df.isna().any(axis=1).sum()
print(nb)

21107

In [8]:
nb_vides_par_col = df.isna().sum()
print(nb_vides_par_col)

Id_accident                               0
Lettre Conventionnelle Véhicule           1
Année                                     0
Lieu Admin Actuel - Territoire Nom        0
CNIT                                  20028
Catégorie véhicule                        0
Age véhicule                           5395
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83730 entries, 0 to 83729
Data columns (total 7 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Id_accident                         83730 non-null  object
 1   Lettre Conventionnelle Véhicule     83729 non-null  object
 2   Année                               83730 non-null  int64
 3   Lieu Admin Actuel - Territoire Nom  83730 non-null  object
 4   CNIT                                63702 non-null  object
 5   Catégorie véhicule                  83730 non-null  object
 6   Age véhicule                        78335 non-null  float64
dtypes: float64(1), int64(1), object(5)
memory usage: 4.5+ MB

Il nous faut donc réfléchir à si on les garde (et dans ce cas réfléchir aux conséquences sur notre analyse) ou pas. Je ne suis pas sûre que le CNIT nous importe réellement.

### Table 3 : usagers-2024

In [10]:
df = pd.read_csv('https://static.data.gouv.fr/resources/bases-de-donnees-annuelles-des-accidents-corporels-de-la-circulation-routiere-annees-de-2005-a-2024/20251021-115506/usagers-2024.csv', encoding="utf-8", sep=';', engine='python')

In [11]:
nb = df.isna().any(axis=1).sum()
print(nb)

2579

In [12]:
nb = df.drop(columns=['an_nais']).isna().any(axis=1).sum()
print(nb)

0

La seule colonne qui contient des NaN c'est l'année de naissance -> Est-ce que ça posera problème plus tard ?

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125187 entries, 0 to 125186
Data columns (total 16 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Num_Acc      125187 non-null  int64
 1   id_usager    125187 non-null  object
 2   id_vehicule  125187 non-null  object
 3   num_veh      125187 non-null  object
 4   place        125187 non-null  int64
 5   catu         125187 non-null  int64
 6   grav         125187 non-null  int64
 7   sexe         125187 non-null  int64
 8   an_nais      122608 non-null  float64
 9   trajet       125187 non-null  int64
 10  secu1        125187 non-null  int64
 11  secu2        125187 non-null  int64
 12  secu3        125187 non-null  int64
 13  locp         125187 non-null  int64
 14  actp         125187 non-null  object
 15  etatp        125187 non-null  int64
dtypes: float64(1), int64(11), object(4)
memory usage: 15.3+ MB