# Données propres ?

In [24]:
import pandas as pd
import os
import numpy as np

J'ai vérifié précédemment que les valeurs vides, dans les trois tables, sont des Nan et pas des espaces divers.

### Table 1 : caract-2024

In [49]:
df = pd.read_csv('Données/caract-2024.csv', encoding="utf-8", sep=';', engine='python')

In [50]:
nb = df.isna().any(axis=1).sum()
print(nb)

2310

In [51]:
nb = df.drop(columns=['adr']).isna().any(axis=1).sum()
print(nb)

0

Ce sont les colonnes 'adr' qui sont vides -> ça n'est pas grave pour ce qu'on veut faire (on ne va pas utiliser l'adresse précise dans notre analyse). On peut garder toutes les lignes du dataset.

### Table 2 : immatriculés_2024

In [60]:
df = pd.read_csv('Données/immatriculés_2024.csv', encoding="utf-8", sep=';', engine='python')

In [61]:
nb = df.isna().any(axis=1).sum()
print(nb)

21107

In [63]:
nb_vides_par_col = df.isna().sum()
print(nb_vides_par_col)

Id_accident                               0
Lettre Conventionnelle Véhicule           1
Année                                     0
Lieu Admin Actuel - Territoire Nom        0
CNIT                                  20028
Catégorie véhicule                        0
Age véhicule                           5395
dtype: int64

Il nous faut donc réfléchir à si on les garde (et dans ce cas réfléchir aux conséquences sur notre analyse) ou pas. Je ne suis pas sûre que le CNIT nous importe réellement.

### Table 3 : usagers-2024

In [64]:
df = pd.read_csv('Données/usagers-2024.csv', encoding="utf-8", sep=';', engine='python')

In [65]:
nb = df.isna().any(axis=1).sum()
print(nb)

2579

In [45]:
nb = df_clean.drop(columns=['an_nais']).isna().any(axis=1).sum()
print(nb)

0

La seule colonne qui contient des NaN c'est l'année de naissance -> Est-ce que ça posera problème plus tard ?